nav {
    z-index: 9999;
    width: 100%;
  
  }
  
  
  nav .logo {
    display: flex;
    align-items: center;
  }
  
  nav .logo_image {
    width: 120px;
    height: 100%;
    object-fit: cover;
  }

  nav .links li a {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #3A4F66;
  }
  
  nav .bookNowBtn {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: #13928C;
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

  }
  
  nav .bookNowBtn:hover {
    background: #fff;
    color: #000 !important;
    border: 1px solid #000;
  }
  /* Add these styles to your existing CSS file */
  nav .links.mobile {
    display: none;
  }
  
  nav .mobile-menu-icon {
    display: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .bottom_nav{
    font-family: 'Poppins', sans-serif;
  }
  @media screen and (max-width: 768px) {
    nav .links {
      display: none;
    }
  
    nav .links.mobile {
      display: block;
      position: absolute;
      top: 70px; /* Adjust as needed */
      left: 0;
      right: 0;
      background: #fff;
      color: black;
      text-align: center;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  
    nav .mobile-menu-icon {
      display: block;
    }
    nav{
      background-color: white !important;
      color: #000 !important;
    }
    nav ul {
      height: 100vh;
      justify-content: center;
    }
    nav  .bookNowBtn{
      background-color: #000 !important;
      color: white !important;
      padding: 8px 7px;
      font-size: 13px;
      font-weight: 800;
    }
  }
  @media screen and (max-width: 768px) {
    .bottom_nav{
      display: none !important;
    }
    
  }